<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" lang="en"></html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>achraf</h1>

    <table>
      <tr th:each="users:${allusers}">
        <td th:text="${service.id}"></td>
      </tr>

      <tr>
        <td>a</td>
        <td colspan="2">b</td>
        <td colspan="2">c</td>
        <td colspan="2">d</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>a</td>
        <td colspan="3">b</td>
        <td colspan="3">c</td>
      </tr>
      <tr>
        <td>a</td>
        <td colspan="2">b</td>
        <td colspan="2">c</td>
        <td colspan="2">d</td>
      </tr>
    </table>
  </body>
</html>
