<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <title>List Services</title>
</head>

<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    /* .card-title {
            white-space: nowrap;
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
        } */
</style>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">
                    <img src="../../../../service-photos/logo.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top" />
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="w-100 my-4 p-3" style="background-color: #eee">
        <h1 class="card-title text-center p-3">All Services</h1>
    </div>
    <div class="container my-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this blog" />
            <div class="input-group-append">
                <button class="btn btn-info" type="button">Search</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div th:object="${user}">
            <!-- <h4>Welcome<span th:text="${user.Name}"></span></h4> -->
        </div>
        <a th:href="@{/add}" class="btn btn-secondary">Add new Service</a>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="service:${allServices}" class="col mb-md-3 mb-sm-1">
                <div class="card">
                    <img th:src="@{${'/service-photos/' + service.Image }}" class="card-img-top img-responsive" alt="..." />
                    <!-- <img src="/service-photos/6518.png" class="card-img-top img-responsive" alt="..." /> -->
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title text-truncate" style="width: 75%" th:text="${service.Nom}"></h5>
                            <b>
                  <p class="text-danger" th:text="${service.Prix}+'DT'"></p
                ></b>
                        </div>
                        <p class="card-text" th:text="${service.Description}"></p>
                        <p class="card-text" th:text="${service.categorie.Libelle}"></p>
                        <a href="details-service.html" th:href="@{/services/{id}(id=${service.id})}" class="btn btn-primary">View Details</a
              >

              <span th:object="${user}" th:if="${user.role.id == 1}">
                <a
                  th:href="@{/update/{id}(id=${service.id})}"
                  class="btn btn-success"
                  >Update</a
                >
                <a
                  th:href="@{/services/delete/{id}(id=${service.id})}"
                  class="btn btn-danger"
                  >delete</a
                >
              </span>

              <a
                th:href="@{/demande/add/{id}(id=${service.id})}"
                class="btn btn-warning"
                >demande</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>